<app-map></app-map>
<div>{{ lastUpdateTime }}</div>
<div>{{ factoriesWithRequirements }}</div>
<div>Factory Max Wallet: {{ factoryMaxWallet }}</div>
<div>Factory Min Wallet: {{ factoryMinWallet }}</div>
<div>Worker Max Wallet: {{ workerMaxWallet }}</div>
<div>Worker Min Wallet: {{ workerMinWallet }}</div>
<div>Total Worker Wallet: {{ totalWorkerWallet }}</div>
<div>Total Factory Wallet: {{ totalFactoryWallet }}</div>
<div>
  Total All Wallet: {{ totalAllWallet }} = {{ totalWorkerWallet }} +
  {{ totalFactoryWallet }} (This sum should stay the same if it was properly
  done.)
</div>
<div>Afordable Workplaces: {{ afordableWorkplaces }}</div>
<div>
  <div>maxOfferedPrice</div>
  <div *ngFor="let item of maxOfferedPrice">
    {{ item.resource }}:{{ item.offeredPrice }}
  </div>
</div>
<div>
  <div>minOfferedPrice</div>
  <div *ngFor="let item of minOfferedPrice">
    {{ item.resource }}:{{ item.offeredPrice }}
  </div>
</div>
<div>
  <div>minSellingStock</div>
  <div *ngFor="let item of minSellingStock">
    {{ item.resource }}:{{ item.quantity }}
  </div>
</div>
<div>
  <div>maxSellingStock</div>
  <div *ngFor="let item of maxSellingStock">
    {{ item.resource }}:{{ item.quantity }}
  </div>
</div>
